@model UniversityMVCProject.ViewModel.StudentViewModels


@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydet", "Student", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Students.FirstName)
        @Html.TextBoxFor(m => m.Students.FirstName)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Students.LastName)
        @Html.TextBoxFor(m => m.Students.LastName)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Students.StudentNo)
        @Html.TextBoxFor(m => m.Students.StudentNo)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Students.Age)
        @Html.TextBoxFor(m => m.Students.Age)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Students.DepartmanId)
        @Html.DropDownListFor(m => m.Students.DepartmanId, new SelectList(Model.Departmans, "Id", "DepartmanName"))

    </div>
    <button type="submit" class="btn btn-success">Add</button>
}


