@model UniversityMVCProject.Models.EntityFramework.Departmans
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
@using (Html.BeginForm("Kaydet", "Departman", FormMethod.Post))
{


    <div class="form-group" style="font-size:large">

        @Html.LabelFor(m => m.DepartmanName)
        @Html.TextBoxFor(m => m.DepartmanName)
        @Html.ValidationMessageFor(m => m.DepartmanName)
    </div>
    <div class="form-group" style="font-size:large">

        @Html.LabelFor(m => m.Telephone)
        @Html.TextBoxFor(m => m.Telephone)
        @Html.ValidationMessageFor(m => m.Telephone)
    </div>
    <div class="form-group" style="font-size:large">

        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Add</button>
}
@section Scripts{


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
