@model List<UniversityMVCProject.Models.EntityFramework.Lessons>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success" href="/Lesson/Yeni">NewLesson</a>
<table class="table table-bordered" style="background-color:darkgrey" id="tblLesson">
    <thead>
        <tr>
            <th>Id</th>
            <th>LessonName</th>
            <th>StudentId</th>
            <th>Credit</th>
            <th>LecturerId</th>
            <th>Update</th>
            <th>Delete</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var lessons in Model)
        {
        <tr>
            <td>@lessons.Id</td>
            <td>@lessons.LessonName</td>
            <td>@lessons.Students.FirstName </td>
            <td>@lessons.Credit</td>
            <td>@lessons.Lecturers.FirstName</td>
            <td><a class="btn btn-primary" href="/Lesson/Update/@lessons.Id">Update</a></td>
            <td><a class="btn btn-warning btnLessonDelete">Delete</a></td>

        </tr>

        }
    </tbody>
</table>


