@model UniversityMVCProject.ViewModel.LessonViewModels
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydet", "Lesson", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(m =>m.Lessons.LessonName )
        @Html.TextBoxFor(m => m.Lessons.LessonName)
        @Html.ValidationMessageFor(m=>m.Lessons.LessonName)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lessons.StudentId)

        @Html.DropDownListFor(m => m.Lessons.StudentId, new SelectList(Model.Students, "Id", "FirstName"))
        @Html.ValidationMessageFor(m => m.Lessons.StudentId)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Lessons.Credit)
        @Html.TextBoxFor(m => m.Lessons.Credit)
        @Html.ValidationMessageFor(m => m.Lessons.Credit)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lessons.LecturerId)
        @Html.DropDownListFor(m => m.Lessons.LecturerId, new SelectList(Model.Lecturers, "Id", "FirstName"))
        @Html.ValidationMessageFor(m => m.Lessons.LecturerId)

    </div>
    @Html.HiddenFor(m=>m.Lessons.Id)
    <button type="submit" class="btn btn-success">Add</button>
}




